@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.category-title {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
    text-decoration: none;
    opacity: .8;
  }

}

.category-logo {
  height: 36px;
  margin-right: 16px;
}
