---
title: Moving to GitLab
description: "Thousands have moved to GitLab. Will you be next?"
suppress_header: true
extra_css:
  - moving-to-gitlab.css
---
.blank-header
  %img.image-border.image-left{ src: "/images/moving-to-gitlab/arrow-pattern-left.svg" }
  %img.image-border.image-right{ src: "/images/moving-to-gitlab/arrow-pattern-right.svg" }
  .header-content
    %img.github-importer{ src: "/images/home/github-importer.svg" }
    %h1 #movingtogitlab
    %p GitLab is home to thousands of public and open source projects, built by a community of over 2,000 contributors.
    %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/user/project/import/github.html" } See our documentation
.content-container.flex-container.flex-column
  .tile
    %h2 Join the thousands of others #movingtogitlab.
    %p GitLab is a single application for the complete DevOps lifecycle, with a simplified workflow so users can work in parallel with total visibility and zero handoff delays. It’s easy to move to GitLab: our platform has an import tool that allows developers to seamlessly move their repositories to GitLab.
  .video-container.full-width
    %h2 Step-by-step migration instructions
    %p
      Watch this video for step-by-step instructions on how to migrate from GitHub to GitLab and
      %a{ href: "https://docs.gitlab.com/ee/user/project/import/github.html", target: "_blank" } follow along with our docs.
    %iframe{ src: "https://www.youtube.com/embed/VYOXuOg9tQI", width: 560, height: 315, allow: "autoplay; encrypted-media", allowfullscreen: "allowfullscreen" }
  .tweets.full-width
    %h2 What folks are saying
    <a class="twitter-timeline"
    href="https://twitter.com/movingtogitlab"
    data-tweet-limit="3">Tweets by @movingtogitlab</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  .tile.cta-tile.flex-container.justify-center.align-center
    %img.tile-logo{ src: "/images/comparison/gitlab-logo.svg" }
    %p
      For a limited time, you can get
      %a{ href: "/2018/06/03/movingtogitlab/#new-users-get-a-75-discount-on-gitlabs-top-tier-plans", target: "_blank" } 75 percent off our top-tier self-managed and SaaS offerings, GitLab Ultimate or Gold
      for a year.
