---
layout: default
title: GitLab for education
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
  - faq.css
extra_js:
  - faq.js
---

.wrapper
  .simple-header
    %h1 Education
  .centered-form
    .font-regular.margin-top40
      %p GitLab is being widely used by educational institutions around the world and GitLab Ultimate and Gold are free for educational institutions.  
      %p Any institution whose purposes directly relate to learning, teaching, and/or training. Educational purposes do not include commercial, professional, or any other for-profit purposes. To apply, fill out this form. Once your application has been approved, we will send your license code.
      %h3
        %strong
          Educational Pricing
      %p GitLab’s educational pricing policy applies to GitLab.com Gold plans and GitLab Ultimate self-managed instances for educational use.
      %p Any institution whose purposes directly relates to learning, teaching, and/or training may qualify. Educational purposes do not include commercial, professional, or any other for-profit purposes.
      %p We're able to provide only one license per educational institution (Gold or Ultimate). That's why students can't apply on behalf of their educational institution. To apply please fill out the form below.
      %p.margin-bottom40
        %strong
          Support note -
        Free GitLab Ultimate and Gold accounts do not include support. However, you can buy support for 95% off, at $4.95 per user per month.
        %strong 
          Can students apply?
        Can students apply for a discount?
        To reduce the administrative burden for GitLab, only educational institutions can apply on behalf of their students. If you're a student and your educational institution does not apply, you can use public projects on GitLab.com with all functionality, use private projects with the free functionality, or pay yourself.

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1659
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1659, function(form) {
        form.onSuccess(function() {
          form.getFormElem().hide();
          $('.confirmform').attr('style', 'visibility: visible');
          return false;
        });
      });
    .confirmform{style: "visibility:hidden;"}
      %h3 Submission received!
      %p We will be intouch soon.
    %br/
    %br/
