:markdown

  ## Manager

  As a BDR Manager, you have extensive experience in business development.
  You have all of the responsibilities and requirements of a team lead,
  and you will also provide coaching to the BDR team during weekly 1:1s.
