---
title: Analyst Relations
description: Insight about AR at GitLab
suppress_header: true
---
.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %h1 Analyst Relations at GitLab
    %p Share involvement where GitLab is interacting with the Industry Analysts and engaged in market research we’d like to share with you.
    %a.btn.cta-btn.accent{ href: "/sales", target: "_blank" } Contact us
.gitlab-content-container.reverse-content
  .content
    %h2 Where does GitLab Engage?
    %p GitLab appears in several areas within the analyst arena.  Areas we engage analysts include:
    %ul
      %li Source Code Management (SCM)
      %li Continuous Integration/Continuous Development (CI/CD)
      %li Value Stream Management (VSM)
      %li Application Security (AppDevSec)
      %li (CDRA)
      %li Release Automation
      %li DevOps
      %li Planning/Project Management
      %li Agile Project management


    %h2 GitLab in recent reports
    %p Here are links to recent reports where GitLab has been covered or mentioned.
    %ul
      %li The Forrester Wave™: Continuous Integration Tools, Q3 2017
      %li IDC Innovators: Agile Code Development Technologies 2018   

    %h2 GitLab open issues
    %p TBD